body {
    text-align: center; 
    
    /*width: 1280px;   */
    /*height: 768px;  */
    margin: 0 auto;
    /*text-align: left; */
}

.container{
    width: 1024px;
    margin: 0 auto;
    text-align: left;
}              

#top_panel{
   /*text-align: center;    */
   float:left;
   width: 1200px;
   height: 90px;
   background-color: #bdd6d9;
   display: inline;
}

#menu_panel{
   text-align: center;
   float:left;
   width: 150px;
   height: 90px;
   padding: 0px;
   margin: 0px;
   background-color: #bdf2e2;
}
#menu_label{
   padding: 0px;
   margin: 0px;
}
#menu_panel ul{
   list-style-type: none;
   text-align: left;
   }
#menu_panel ul li:hover {
    background-color:#99c7b9;
}
#menu_panel ul a {
    text-decoration: none;
}

#right_panel {
   float:left;
   /*text-align: center;  */
   padding: 0;
   margin: 0;
   width: 800px;
   height: 90px;
   display: inline;
   /*background-color: yellow;  */
}

#sub_selection_panel{
    width: 150px;
    height: 70px;
    padding: 10px;
   /* background-color: red; */

    float:left;
    
    border-right: 1px solid #8391a8;
}
#date_selection_panel, #user_label{
    width: 300px;
    height: 70px;
    padding: 10px;
   /* background-color: yellow;    */
    text-align: center;
    float:left;
    
    border-right: 1px solid #8391a8;
}
#search_dates{
    width: 100%;
    /*text-align:right;   */
}
#search_button_panel{
    width: 150px;
    height: 50px;
    padding: 40px 0 0 0;
    /*background-color: blue; */
    text-align: center;
    float:left;
}
#search_button_panel_verified_users{
    width: 550px;
    height: 200px;
    padding: 40px 0 0 0;
    /*background-color: blue; */
    text-align: center;
    float:left;
}

#selected_gallery_controls, #results_count{
    position:fixed;
    bottom: 30px;
    right: 30px;
    
    border: 2px solid grey;
    border-radius: 5px;
    
    margin: 5px 0 0 0;
    padding : 5px;
    z-index: 10;

    background-color: #7c8f8c;
    width:100px;
}
#selected_gallery_panel{
  height: 500px;
  width: 1000px;
  background-color: #7c8f8c;
  margin: 0;
  display: none;
  
  position:fixed;
  bottom: 30px;
  right: 125px;
  
  border: 2px solid #7c8f8c;
  border-radius: 5px;
    
}
#selected_gallery_list{
  float: left;
  height: 490px;
  width: 400px;
  overflow:auto;
  background-color: #c4cccb;
  margin: 0;
  padding:0;
  
  border: 2px solid #7c8f8c;
  border-radius: 5px;
  
}
#selected_gallery_text_panel{
    width: 600px;
    height: 768px; 
    margin: 0;
    padding:0;
}

#selected_gallery_info{
    width: 590px; 
    height: 10%;  
    margin: 0;
    padding:5px;
}
#selected_gallery_text_area{
    width: 590px; 
    height: 90%;  
    box-sizing: border-box;
    margin: 0;
    padding:0;
    position: relative;
}
#selected_gallery_controls{
    float: right;
}
#content{
  float: left;
  height: 768px;
  /*width: 100%;*/
  /*overflow:auto; */
  /*background-color: yellow;  */
  margin: 0;
  padding: 10px ;
}

.comment_results{
  float: left;

  height: 390px;
  width: 350px;
  
  padding: 0; 
  margin:10px; 
  
  border: 2px solid grey;
  border-radius: 5px;
}

.comment_info{
   
}
.comment_image{
    width: 100%;
    height: 300px;
    
    padding: 0 ;
    margin: 0;

    /*background-color: red;*/
    
    text-align: center;
    
    overflow:hidden;
}

.comment_image img{
    /*width: 100%;
   height: 100%; */
}
  /*
.comment_image img.wide {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
.comment_image img.tall {
    max-height: 100%;
    max-width: 100%;
    width: auto;
}?   */


.add_item_to_gallery{
    background-color: #72d6a4;
}
.remove_item_from_gallery, .comment_remove_item_from_gallery{
    background-color: #e06969;
}
.add_item_to_gallery:hover, .remove_item_from_gallery:hover, .comment_remove_item_from_gallery:hover, #back_to_top:hover, #selected_gallery_controls:hover, #search_button:hover, #results_count:hover, .remove_loading:hover{
    cursor: pointer;
}

.remove_loading{
  text-decoration: underline;
  color:blue;
}


#back_to_top{
    position:fixed;
    bottom: 70px;
    right: 30px;
    
    border: 2px solid grey;
    border-radius: 5px;
    
    padding : 5px;
    z-index: 10;
    /*display:none; */
    
    width:100px;
    background-color: #bdd6d9;
}

.loading_panel{
     z-index: 5;
     /*width: 300px; */
     height: 300px;
     background-image:url("loading.gif");
     background-repeat: no-repeat;
     /*background-size: cover; */
     background-position: center center;
}


#verified_users_content{
  height: 768px;
  width: 100%;
  /*overflow:auto; */
  /*background-color: yellow;  */
  margin: 0;
  padding: 10px ;
}
#content_left{
 float:left;
 width: 50%;

}
#content_text_area{
  width:100%;
  height:50%;
}
#content_right{
    float:right;
     width: 50%;
}
#new_content_text_area{
  width:100%;
  height:50%;
}

#content_results{
  width: 100%;
  height: 200px;
  overflow: auto;
  margin : 10px 0 0 0;
  padding: 0;
  text-align:left;
}
.deleted{
      color:red;

}