body {
    text-align: center;
    margin: 0 auto;
  }
  
  .title {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 30px;
    letter-spacing: -1px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
  }
  
  .subtitle {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    letter-spacing: -1px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
  }
  
  .normaltext {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
  }
  
  .button {
    background-color: #FFFFFF;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: center;
    border: 2px solid #000000;
  }
  
  .button:hover {
    background-color: #000000;
    color: white;
  
  }
  
  .backtotopbtn {
    position: fixed;
    bottom: 70px;
    right: 30px;
    background-color: #FFFFFF;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;
    border: 2px solid #000000;
  }
  
  .backtotopbtn:hover {
    background-color: #000000;
    color: white;
  
  }
  
  select {
    padding: 5px 20px;
    border-color: #000000;
    background-color: #f1f1f1;
  }
  
  /* Rounded border */
  hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    border-color: black;
  }
  
  .container {
    width: 1024px;
    margin: 0 auto;
    text-align: left;
  }
  
  #content {
    float: left;
    height: 768px;
    /*width: 100%;*/
    /*overflow:auto; */
    /*background-color: yellow;  */
    margin: 0;
    padding: 10px;
  }
  
  .comment_results {
    float: left;
  
    height: 500px;
    width: 450px;
  
    padding: 0;
    margin: 10px;
  
    border: 2px solid black;
  }
  
  .comment_image {
    width: 100%;
    height: 100%;
  
    padding: 0;
    margin: 0;
  
  
    text-align: center;
    overflow: hidden;
  
  }
  
  .commentusername {
    font-family: Verdana, Geneva, sans-serif;
  }
  
  .commentinfo {
    font-family: Verdana, Geneva, sans-serif;
  }
  
  .remove_loading {
    text-decoration: underline;
    color: blue;
  }
  
  .loading_panel {
    z-index: 5;
    /*width: 300px; */
    height: 300px;
    background-image: url("https://giphy.com/gifs/cod3rcursos-loading-barra-carregando-FaAxdPWZ7HKGmlnku7");
    background-repeat: no-repeat;
    /*background-size: cover; */
    background-position: center center;
  }
  
  
  #verified_users_content {
    height: 768px;
    width: 100%;
    /*overflow:auto; */
    /*background-color: yellow;  */
    margin: 0;
    padding: 10px;
  }
  
  #content_left {
    float: left;
    width: 50%;
  
  }
  
  #content_text_area {
    width: 100%;
    height: 50%;
  }
  
  #content_right {
    float: right;
    width: 50%;
  }
  
  #new_content_text_area {
    width: 100%;
    height: 50%;
  }
  
  #content_results {
    width: 100%;
    height: 200px;
    overflow: auto;
    margin: 10px 0 0 0;
    padding: 0;
    text-align: left;
  }
  
  .deleted {
    color: red;
  
  }
  